# MySQL only -- set DB_HOST to your actual server address/IP.
DB_USER=dbwriter
DB_PASSWORD=
DB_NAME=games
DB_HOST=46.202.176.220
F95_USER=mbg36894
F95_PASSWORD=
LC_USER=
LC_PASSWORD=
F95_COOKIE_FILE=f95_cookies.json
PACKAGE_DIR=/var/www/html/packages
ROOT=
F95_DELAY_MIN=1.0
F95_DELAY_MAX=3.0
email=mbg36894@gmail.com
emailpass=
F95_DEBUG_TS=true